html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

#map_canvas {
    width:100%;
    height: 100%;
}

.ui-element {
    position: absolute;
    z-index: 10000;
}

/* Заголовок маркера */
.titleOfMarker {
    position: absolute;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#fulltext-search {
    width: 350px;
    height: 18px;
    font-size: 21px;
    padding: 4px;
}

#search-result {
    left: 50%;
    top: 3px;
    width: 350px;
}

#click-details, #click-details-back {
    width: 250px;
    height: 90%;
    left: 100%;
    margin-left: -250px;
    top: 30px;
    font-size: 12px;
}

#click-details {
    overflow: auto;
}

#click-details-back {
    opacity: 0.4;
    background-color: white;
}

.population-markers {
    display: none;
}

ul {
    padding-left: 25px;
}

#age-range {
    width: 254px;
    height: 7px;
    display: inline-block;
    margin-right: 6px;

    /*position: absolute;*/
    /*left: 50%;*/
    /*margin-left: -168px;*/
    /*top: 42px;*/
}

.ui-slider .ui-slider-handle {
    height: 0.6em!important;

    width: 5px !important;
    margin-left: 0!important;
    margin-top: 2px!important;

    /*height: 16px !important;*/
    /*width: 3px !important;*/
    /*margin-top: -8px;*/
}

.amount {
    width: 40px;
}

#age-inputs {
    margin-left: 0;
    margin-top: -2px;
    font-size: 21px;

}

.clear-search {
    position: absolute;
    z-index: 10000;
    margin-left: 342px;
    margin-top: -25px;
}

.clear-search a {
    text-decoration: none;
    z-index: 10000;
}

/*******************/
