html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

#map_canvas {
    width:100%;
    height: 100%;
}

.ui-element {
    position: absolute;
    z-index: 10000;
}

.link-no-line {
    text-decoration: none;
    color: #227dd2;
    font-weight: bold;
}

.panel-header {
    margin: 3px;
}

.inline {
    display: inline-block;
}

.btn:hover {
    cursor: pointer;
}

.btn {
    width: 100px;
    padding: 4px;
    border: 1px solid #5d5d5d;
    border-radius: 2px;
    background-color: #7d7d7d;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

.btn.btn-active {
    color: #9BD4E2;
    border: 1px solid #485357;
    background-color: #5C5B5B;
}

/* Заголовок маркера */
.titleOfMarker {
    position: absolute;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#fulltext-search {
    width: 350px;
    height: 18px;
    font-size: 21px;
    padding: 4px;
}

#search-result {
    left: 50%;
    top: 3px;
    width: 350px;
}

.panel {
    width: 250px;
    height: 100%;
    font-size: 12px;
}

#panel-wrapper {
    height: calc(100% - 45px);
    top: 30px;
    left: 100%;
    margin-left: -250px;
}

#click-details {
    overflow: auto;
    height: 45%;
    border: 1px solid black;
}

.panel-ul-result {
    height: calc(100% - 20px);
    overflow: auto;
}

.panel-ul-result ul {
    margin-top: 2px;
    list-style: none;
}

#panel-search{
    height: 50%;
}

#panel-checked {
    height: calc(50% - 25px);
}

#panel-search {
    border-bottom: 1px solid #878787;
}

#panel-back {
    height: calc(100% - 45px);
    top: 30px;
    position: absolute;
    z-index: 1000;
    left: 100%;
    margin-left: -250px;
    opacity: 0.4;
    background-color: white;
}

.population-markers, .checked-population-markers {
    display: none;
}

ul {
    padding-left: 6px;
}

#age-range {
    width: 254px;
    height: 7px;
    display: inline-block;
    margin-right: 6px;

    /*position: absolute;*/
    /*left: 50%;*/
    /*margin-left: -168px;*/
    /*top: 42px;*/
}

.ui-slider .ui-slider-handle {
    height: 0.6em!important;

    width: 5px !important;
    margin-left: 0!important;
    margin-top: 2px!important;

    /*height: 16px !important;*/
    /*width: 3px !important;*/
    /*margin-top: -8px;*/
}

.amount {
    width: 40px;
}

#age-inputs {
    margin-left: 0;
    margin-top: -2px;
    font-size: 21px;

}

.clear-search {
    position: absolute;
    z-index: 10000;
    margin-left: 342px;
    margin-top: -25px;
}

.clear-search a {
    text-decoration: none;
    z-index: 10000;
}

#buttons {
    left: 20px;
    top: calc(100% - 60px);
}

.remove-selected {
    float: right;
    margin: -2px 7px 0 0;
}

.alder-select {
    margin-top: 2px;
}

/*******************/
